.cart-image {
    width: 26px;
    margin-left: 190px;
    margin-top: -34px;
}

.orange-color {
    color: #e0400b;
}

.star {
    width: 20px;
    margin-left: -14px;
    margin-top: -7px;
}

label {
    font-size: 15px;
}
.flex-container{
   display: flex;}
    